@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

#global h5 a{
    text-decoration: none;
    color: rgb(201, 102, 102);
}
.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}
#body{
    background-color: white;
}